h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card {
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #DDDDDD;

    border-radius: 5px;
}

.card > * {
    margin: 10px;
}

a {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    color: black;
}
